{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.username }}</h1>
      <a href="{% url 'booking_list' %}">
        <button>Bookings</button>
    </a>
    <a href="{% url 'students' %}">
        <button>Students</button>
    </a>
    <a href="{% url 'tutors' %}">
        <button>Tutors</button>
    </a>
    <a href="{% url 'users_list' %}">
      <button>Users</button>
    </a>
    <a href="{% url 'users_list' %}">
      <button>Students Requests</button>
    </a>
    </div>
  </div>
</div>
{% endblock %}