<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to Code Tutors</h1>
    <p>This is the inside welcome page.</p>
    <a href="{% url 'booking_list' %}">
        <button>Bookings</button>
    </a>
    <a href="{% url 'students' %}">
        <button>Students</button>
    </a>
    <a href="{% url 'tutors' %}">
        <button>Tutors</button>
    </a>
</body>
</html>
