<h1>Bookings</h1>
<a href="{% url 'booking_create' %}"><button>Create Booking</button></a>
<table>
    <tr>
        <th>Term</th>
        <th>Student</th>
        <th>Tutor</th>
        <th>Actions</th>
    </tr>
    {% for booking in bookings %}
    <tr>
        <td>{{ booking.term }}</td>
        <td>{{ booking.student.full_name }}</td>
        <td>{{ booking.tutor.full_name }}</td>
        <td>
            <a href="{% url 'session_list' booking.pk %}"><button>Show</button></a>
            <a href="{% url 'booking_update' booking.pk %}"><button>Update</button></a>
            <a href="{% url 'booking_delete' booking.pk %}"><button>Delete</button></a>
        </td>
    </tr>
    {% endfor %}
</table>
